<style>
.ucfsigai-brand::before, .ucfsigai-brand::after {
    font-weight: bold;
    font-family: "PT Sans", sans-serif !important;
}
.ucfsigai-brand::before {
    content: "SIGAI";
    color: #ffffff;
}
.ucfsigai-brand::after {
    content: "@UCF";
    color: #ffc904;
}
.text-gold {
    color: #ffc904;
}
.text-white {
    color: #fafafa;
}
body {
    background-color: #131c1f !important;
}

h1 {
    color: #ffc904 !important;
}
</style>