<div class="row" id="syllabus">
  <div class="table-responsive-md">
    <table class="table table-dark">
      <colgroup>
        <col span="1" style="width: 12%;">
        <col span="1" style="width: 12%;">
        <col span="1" style="min-width: 94px;">
        <col span="1" style="width: 24%;">
      </colgroup>
      <thead>
        <tr>
          <td> Type </td>
          <td > Date </td>
          <td> Title </td>
          <td> Lecturer </td>
        </tr>
      </thead>
      <tbody>
$tbody
      <tbody>
    </table>
  </div>
</div>
